.page {
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.main {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.mainInfo {
  width: 100vw;
  padding: 8rem;
  font-size: 2rem;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

@media (max-width: 600px) {
  .mainInfo {
    padding: 1rem;
  }

  .main {
    align-items: center;
  }

  a.secondary {
    min-width: auto;
  }
}
